<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Login - Gimnasio App</title>
</head>
<body>

        <form action="/vali"  method="post">
            <h1>Bienvenidos</h1>
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" name="usuario" required>

            <label for="contrasena">Contraseña</label>
            <input type="password" id="contrasena" name="contrasena" required>

          
            <input type="submit" value = "Iniciar Sesión">
        </form>

    
</body>
</html>